* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: #e6f0ff;
  color: #2a3439;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 2rem;
  padding-left: 2rem;
}

code {
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: 3px;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 1.5rem;
}

code {
  background-color:rgba(116,201,49, 0.6);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.bold {
  font-weight: 700;
}

.description {
  margin-bottom: 2rem;
}

.divider {
  margin-bottom: 3rem;
}

.highlighted-text {
  background-color: rgba(116,201,49, 0.6);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.search-queries-link:link,
.search-queries-link:visited {
  color: #0352fc;
}

.phrases-title {
  margin-top: 50px;
}

.phrases-list {
  margin-bottom: 50px;
}

.phrases-list li {
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #f54260;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
}

.btn:hover {
  background-color: #e33d59;
}

.api-key-container {
  padding: 1rem;
  background-color: #e8e8da;
  border-radius: 0.5rem;
  display: inline-block;
}

.api-key-container-title {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.allowed-methods {
  margin-bottom: 2rem;
}

.http-method-label {
  display: inline-block;
  text-align: center;
  padding: 3px;
  background-color: #bbc7be;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 3px;
}

.http-method-label:first-of-type {
  margin-left: 3px;
}