<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Everyday Chef API Docs</title>
  <script src="https://developer.edamam.com/attribution/badge.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <h1>Everyday Chef API Documentation</h1>
    <p class="description">This is the backend API for the Everyday Chef app.</p>
    <h4>Important details:</h4>
    <ul>
      <li>Uses Edamam API for recipe data.</li>
    </ul>

    <div id="edamam-badge" data-color="white"></div>


    <div class="divider"></div>

    <h2>Search</h2>
    <p class="description">Returns a list of recipes for a specific query</p>
    <p>Path: <code>https://everydaychef-api.herokuapp.com/recipes</code></p>
    <h3>Parameters</h3>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>q</td>
        <td>Yes</td>
        <td>Query text. For example <span class="highlighted-text">q=tacos</span></td>
      </tr>
    </table>
    <p>Example URL: <code>https://everydaychef-api.herokuapp.com/recipes?q=tacos</code></p>

    <div class="divider"></div>

    <h2>Post</h2>
    <p class="description">Create a new recipe to add to the database.</p>
    <p>Path: <code>https://everydaychef-api.herokuapp.com/recipes</code></p>
    <h3>Parameters</h3>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>label</td>
        <td>Yes</td>
        <td>Title of recipe. For example <span class="highlighted-text">label=Fish Tacos</span></td>
      </tr>
      <tr>
        <td>image</td>
        <td>Yes</td>
        <td>Image URL for displaying on client. For example <span
            class="highlighted-text">image=https://www.edamam.com/web-img/b3a/b3ac43e915f8a866a939e809f551eb3c.jpg</span>
        </td>
      </tr>
      <tr>
        <td>url</td>
        <td>No</td>
        <td>Url for original recipe source. For example <span
            class="highlighted-text">url=http://www.lottieanddoof.com/2009/07/picadillo/</span>
        </td>
      </tr>
      <tr>
        <td>yield</td>
        <td>No</td>
        <td>The number of servings. For example <span class="highlighted-text">yield=3.5</span>
        </td>
      </tr>
      <tr>
        <td>totalTime</td>
        <td>No</td>
        <td>The amount of time to cook recipe in hours. For example <span class="highlighted-text">totalTime=1.5</span>
        </td>
      </tr>
      <tr>
        <td>ingredientLines</td>
        <td>Yes</td>
        <td>An array of required ingredients.
        </td>
      </tr>
    </table>
    <p>Example Post Body:
      <code>
        {
          "label": "Fish Tacos",
          "image": "https://www.edamam.com/web-img/b3a/b3ac43e915f8a866a939e809f551eb3c.jpg",
          "url": "http://www.lottieanddoof.com/2009/07/picadillo/",
          "yield": 3.0,
          "totalTime": 1.5,
          "ingredientLines": [
          "Fresh Talipa",
          "Flour Tortillas",
          "Salsa"
          ]
        }
      </code>
    </p>
  </div>

  <div class="divider"></div>

</body>


</html>